version: '3.8'

services:
  backend:
    build:
      context: ../MyCv
      dockerfile: Dockerfile.dev
    ports:
      - "5000:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    develop:
      watch:
        - action: sync
          path: ../MyCv
          target: /app
          ignore:
            - ../MyCv/bin
            - ../MyCv/obj
        - action: rebuild
          path: ./MyCv.csproj

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    develop:
      watch:
        - action: sync
          path: ./frontend/src
          target: /app/src
        
        - action: sync
          path: ./frontend/public
          target: /app/public

        - action: rebuild
          path: ./frontend/package.json
    environment:
      - HOST=0.0.0.0  
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true